<form class="form center-form" method="POST" action="/product/buy/{{product._id}}">
  <div class="form-group">
    <img src="{{product.image}}" alt="No image">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="input-field" value="{{product.name}}" readonly />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" name="description" type="text" class="input-field" readonly>{{product.description}}</textarea>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input id="price" name="price" type="number" step="0.01" class="input-field" value="{{product.price}}" readonly />
  </div>
  <div class="form-group">
    <input class="btn btn-sm btn-success" type="submit" value="Buy">
  </div>
</form>