<form class="form center-form" action="/product/edit/{{product._id}}" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="input-field" value="{{product.name}}" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" name="description" type="text" class="input-field">{{product.description}}</textarea>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input id="price" name="price" type="number" step="0.01" class="input-field" value="{{product.price}}" />
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input id="image" name="image" type="file" class="input-field" accept="image/*" />
  </div>
  <div class="form-group">
    <label for="group">Group</label>
    <select name="category" id="group" class="input-field">
      {{#each categories}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <input class="btn btn-sm btn-warning" type="submit" class="btn" value="Edit">
  </div>
</form>