<h1 class="head-title">All {{name}}</h1>
</div>
<div class="cards">
  {{#if products}}
  {{#each products}}
  <div class="product-card">
    <img class="product-img" src="{{this.image}}" />
    <h2>{{this.name}}</h2>
    {{#each this.splittedDescription}}
    <p>{{this}}</p>
    {{/each}}
    <a class="btn btn-sm btn-success" href="/product/buy/{{this._id}}">Buy</a>
    {{#if this.isCreator}}
    <a class="btn btn-sm btn-warning" href="/product/edit/{{this._id}}">Edit</a>
    <a class="btn btn-sm btn-danger" href="/product/delete/{{this._id}}">Delete</a>
    {{/if}}
  </div>
  {{/each}}
  {{/if}}
</div>